<% if (!index && post.comments && theme.waline_comment){ %>
</br>
</br>
</br>
</br>  <!-- nav与comment保持四行间距 -->
<section id="comments">
  <div id="waline"></div>
    <script src="//unpkg.com/@waline/client@v2/dist/waline.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css"/>

  <script>
      Waline.init({
        el: '#waline',
        serverURL: '<%= theme.waline.serverURL %>',
        
        placeholder: '<%= theme.waline.placeholder %>',
        requiredFields: '<%= theme.waline.requiredFields %>',
        pageSize: '<%= theme.waline.pageSize %>',
        avatar: '<%= theme.waline.avatar %>',
        copyright: false,
        
      });
  </script>
</section>
<% } %>






